@import './base.css';

/* typography */

body {
  font-size: var(--el-font-size-base);
}

@media (max-width: 980px) {
  .mb-main-xs {
    padding-bottom: 84px;
  }
}

h1 {
  font-size: var(--el-font-size-extra-large);
}

h2 {
  font-size: var(--el-font-size-large);
}

h3 {
  font-size: var(--el-font-size-medium);
}

h4 {
  font-size: var(--el-font-size-medium);
}

.text-small {
  font-size: var(--el-font-size-small);
}

.text-xsmall {
  font-size: var(--el-font-size-extra-small);
}

.text-bold,
b {
  font-weight: bold;
}

.text-right {
  text-align: right;
}

.break-spaces {
  white-space: break-spaces;
}

.break-word {
  word-break: break-word;
}

/* flexbox */
.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-row {
  flex-direction: row;
}

@media (min-width: 980px) {
  .flex-md-row {
    flex-direction: row;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.column-gap-1 {
  column-gap: 4px;
}

.column-gap-2 {
  column-gap: 8px;
}

.column-gap-3 {
  column-gap: 12px;
}

.row-gap-1 {
  row-gap: 4px;
}

.row-gap-2 {
  row-gap: 8px;
}

.row-gap-3 {
  row-gap: 12px;
}

@media (min-width: 980px) {
  .order-md-1 {
    order: 1;
  }
}

/* margins */
.m-0 {
  margin: 0 !important;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 12px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-5 {
  margin-bottom: 16px;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 12px;
}

.mt-4 {
  margin-top: 16px;
}

.mt-5 {
  margin-top: 20px;
}

.mr-1 {
  margin-right: 4px;
}

.mr-2 {
  margin-right: 8px;
}

.mr-3 {
  margin-right: 12px;
}

.mr-4 {
  margin-right: 16px;
}

.mr-5 {
  margin-right: 20px;
}

.ml-1 {
  margin-left: 4px !important;
}

.ml-2 {
  margin-left: 8px;
}

.ml-3 {
  margin-left: 12px;
}

.ml-4 {
  margin-left: 16px;
}

.ml-5 {
  margin-left: 20px;
}

.ml-auto {
  margin-left: auto;
}

/* colors */

.light-gray {
  color: var(--el-color-info-light-3);
}

.success {
  color: var(--el-color-success);
}

.danger {
  color: var(--el-color-danger);
}

/* forms */
.el-select {
  display: block !important;
}

.el-autocomplete {
  display: block !important;
}

.el-date-editor.el-input,
.el-date-editor.el-input__wrapper {
  width: auto !important;
}

/* layout */

.overflow-hidden {
  overflow: hidden;
}

@media (min-width: 980px) {
  .el-main {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

@media (max-width: 979px) {
  .el-main {
    padding-bottom: 84px !important;
  }
}

.el-main {
  padding-top: 0 !important;
  /*padding-bottom: 0 !important;*/
}

.el-dialog {
  width: calc(100% - 24px) !important;
}

@media (min-width: 980px) {
  .el-dialog {
    width: var(--el-dialog-width) !important;
  }
}

.el-popper {
  max-width: calc(100% - 24px) !important;
}

.el-select {
  width: 100%;
}
